{{! Author  partial }}
<div class="author">
    <a class="author__image" href="{{@blog.url}}"><img src="{{author.image}}" alt="{{author.name}}"></a>
    <div class="author__desc">
        <div class="author__name">{{author.name}}</div>
        <p class="author__bio">{{author.bio}}</p>
    </div>
</div>